<ion-content no-padding>
  <div *ngIf="!lightIsOn" id="inverse-screen" class="button-action" (click)="invertScreen()">
    <ion-icon name="refresh"></ion-icon>
  </div>

  <div *ngIf="!lightIsOn" id="sound-toggle" class="button-action" (click)="soundToggle()">
    <img *ngIf="!soundIsEnabled" src="assets/imgs/sound-muted-icon.svg" />
    <img *ngIf="soundIsEnabled" src="assets/imgs/sound-icon.svg" />
  </div>

  <div id="light" [ngClass]="{ 'status-on' : lightIsOn, 'square-shape': squareShapeOn }" (click)="changeLightShape()" ></div>
  
  <div id="status-information">
    <ng-container *ngIf="!hideQuickInfo" [ngSwitch]="lightMode">
      <p *ngSwitchCase="'inOut'">{{'APP.MODE_INOUT' | translate }} <br><br>{{'APP.MODE_INOUT_desc' | translate }}</p>
      <p *ngSwitchCase="'478'" >{{'APP.MODE_478' | translate }}<br><br>{{'APP.MODE_478_desc' | translate }}</p>
      <p *ngSwitchCase="'bonfire'">{{'APP.MODE_CANDLE' | translate }} </p>
    </ng-container>
  </div>
  <div id="button-container" [ngClass] = " {'status-on': lightIsOn}  ">
    <ng-container *ngIf="!lightIsOn; else switchLight" >
      <div class="button" (click)="changeMode()">
        <ng-container [ngSwitch]="lightMode">
          <ion-icon *ngSwitchCase="'inOut'" name="swap"><ion-label>{{'APP.MODE_INOUT_TITLE' | translate }}</ion-label></ion-icon>
          <ion-icon *ngSwitchCase="'478'" name="podium"><ion-label>4-7-8</ion-label></ion-icon>
          <ng-container *ngSwitchCase="'bonfire'"  >
            <img  src="assets/imgs/candle-icon.svg" />
          </ng-container >
        </ng-container>
      </div>
      <div class="button bulb" (click)="turnOn()" ><ion-icon name="ios-bulb-outline"></ion-icon></div>
      <div class="button" (click)="changeTime()">
        <ion-icon name="timer">
          <ion-label>{{minutesToTurnOff}} min</ion-label>
        </ion-icon>
      </div>

    </ng-container>

    <ng-template #switchLight >
      <div class="button bulb on" (click)="turnOff()" ><ion-icon name="ios-bulb"></ion-icon></div>
    </ng-template>
    
  </div>
</ion-content>


